/* CSS declarations go here */

/*.canvas {
	border: 1px solid black;
	width:auto;
	height:auto;
}*/

/*.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}*/