/* CSS declarations go here */

.canvas {
	border: 5px solid black;
	/*width:calc(100%+15px);*/
	/*height:auto;*/
}

/*.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}*/