/* CSS declarations go here */

#graphCanvas {
	border: 5px solid black;
	/*width:calc(100%+15px);*/
	/*height:auto;*/
}
@keyframes notify{
	from{opacity: 1}
	to{opacity: 0}
}
.notify{
	opacity: 0;
	color: red;
	animation-name: notify;
	animation-duration:6s;
}

/*.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}*/