.popup {
    /*position: absolute;*/
    background-color: #fff;
    width:400px;
    height:400px;
    overflow: hidden;
    resize: both;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 8px;
    font-family: arial, helvetica, sans-serif;
    font-size: 18px;
}
.popupBody {
	height: calc(100% - 50px);
	width: 100%;
    overflow-y: auto;
}
h2{
	margin-top: 5px;
}